<%= form_for resource ,:remote => true,:html =>{:id => "settlement_form"}  do |f|%>
  <%=f.error_messages %>
  <%= f.hidden_field :user_id,:value => current_user.id if f.object.new_record?%>
  <table class='table'>
    <tr>
      <td>结算员:</td>
      <td><%=current_user.username%></td>
      <td>结算单位:</td>
      <td>
        <%=f.select :org_id,current_ability_orgs_for_select,{},{:class => "select_org",:id => "to_org_id"} %>
      </td>
      <td>结算日期:</td>
      <td> <%=Date.today().strftime('%Y-%m-%d')%></td>
    </tr>
    <tr>
      <td>返程货款:</td>
      <td><%=f.text_field :sum_goods_fee ,:readonly => true,:size => 10 %></td>
      <td>提货付运费:</td>
      <td><%=f.text_field :sum_carrying_fee ,:readonly => true,:size => 10 %></td>
      <td>合计:</td>
      <td><span id='settlement_sum_fee'><%=resource.sum_fee %></span></td>
    </tr>
    <tr>
      <td>备注</td>
      <td colspan='5'>
        <%=f.text_field :note %>
      </td>
    </tr>
  </table>
<% end%>
