<%= semantic_form_for resource ,:html => {:id => "load_list_form",:class => "load_list"} do |f|%>
  <%= f.inputs do %>
    <%= f.input :bill_date,:as => :string,:input_html =>{:readonly => true,:size => 20,:class => 'datepicker'} %>
    <%= f.input :bill_no,:hint => "装车单编号" %>
    <%= f.autocompleted_input :from_org_name, :url =>  autocomplete_branch_py_branches_path, :id_element => '#computer_bill_from_org_id',:name => "select_from_org" %>
    <%= f.input :from_org_id,:as => :hidden %>
    <%= f.autocompleted_input :to_org_name, :url => autocomplete_branch_py_branches_path, :id_element => '#computer_bill_to_org_id',:name => :select_to_org %>
    <%= f.input :to_org_id,:as => :hidden %>

    <%= f.input :driver %>
    <%= f.input :vehicle_no %>
    <%= f.input :note,:as => :string,:input_html => {:size => 60} %>
  <% end %>
<% end%>
<div class = "actions-bar text-right">
  <%=link_to image_tag("blog--plus.png") + "添加运单",search_carrying_bills_path,:class => "fancybox tipsy big-font",:title => "添加运单"%>
</div>
<div id="table_wrap"></div>
