<%= semantic_form_for resource ,:remote => true,:html => {:id => "load_list_form",:class => "load_list bill_selector"} do |f|%>
  <%=f.semantic_errors :bill_no,:from_org_id,:to_org_id %>
  <%= f.inputs do %>
    <%= f.input :bill_date,:as => :string,:input_html =>{:readonly => true,:size => 20,:class => 'datepicker'} %>
    <%= f.input :bill_no,:hint => "装车单编号",:input_html => {:title => "必填字段"} %>
    <%= f.input :from_org_id,:label =>"发货地" ,:hint => "可录入拼音简写查询发货地(例如:安阳,可录入ay)",:as => :select,:collection => branches_for_select,:include_blank => true,:input_html => {:class => "select_org",:id => "from_org_id"} %>
    <%= f.input :to_org_id,:label => "到货地",:as => :select,:hint => "可录入拼音简写查询地区(例如:安阳,可录入ay)",:collection => branches_for_select,:include_blank => true,:input_html => {:class => "select_org",:id => :to_org_id} %>
    <%= f.input :note,:as => :string,:input_html => {:size => 60} %>
    <li class='checkbox optional'>
      <%=label_tag :bill_date_eq,"运单日期"%>
      <%=check_box_tag "bill_date_eq",Date.today,false,:onclick => "$(this).attr('checked') ? $(this).val('') : $(this).val('#{Date.today}')"%>显示所有未装车运单
      <p class='inline-hints'>默认只显示当日未装车运单</p>
    </li>
    <%=hidden_field_tag :state_eq,:billed%>
    <%=hidden_field_tag :type_in,"","data-type" => ['ComputerBill','HandBill','ReturnBill','TransitBill','HandTransitBill'].to_json %>
  <% end %>
<% end%>
