<h1>Listing transit_companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Is active</th>
    <th>Note</th>
    <th>Leader</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transit_companies.each do |transit_company| %>
  <tr>
    <td><%= transit_company.name %></td>
    <td><%= transit_company.address %></td>
    <td><%= transit_company.phone %></td>
    <td><%= transit_company.is_active %></td>
    <td><%= transit_company.note %></td>
    <td><%= transit_company.leader %></td>
    <td><%= link_to 'Show', transit_company %></td>
    <td><%= link_to 'Edit', edit_transit_company_path(transit_company) %></td>
    <td><%= link_to 'Destroy', transit_company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transit company', new_transit_company_path %>
