<!--动态toolbar-->
<div class="secondary-navigation">
  <ul class="wat-cf">
    <%if can? :read,resource_class%>
      <li class="first">
        <%= link_to image_tag("grid.png",:alt => "#{resource_class.model_name.human}列表") , collection_path,:title => "#{resource_class.model_name.human}列表",:class => "tipsy"  %>
      </li>
      <%if self.respond_to?("search_#{controller_name.tableize}_path")%>
        <li><%= link_to image_tag("application-search-result.png",:alt => "查询#{resource_class.model_name.human}"),self.send("search_#{controller_name.tableize}_path"),:title => "查询#{resource_class.model_name.human}",:class => "fancybox tipsy" %></li>
      <%end%>
    <%end%>
    <%if can? :create,resource_class%>
      <li>
        <%= link_to image_tag("application--plus.png",:alt => "新建#{resource_class.model_name.human}"), new_resource_path,:title => "新建#{resource_class.model_name.human}",:class => "tipsy"  %>
      </li>
    <%end%>

    <%if params[:action] == "new"%>
      <li>
        <%= link_to_function image_tag("disk-black.png",:alt => "保存#{resource_class.model_name.human}"), "$('##{resource_class.model_name.underscore}_form').trigger('submit')",:title => "保存#{resource_class.model_name.human}",:class => "tipsy"  %>
      </li>
    <%end%>
    <%if params[:action] == "edit"%>
      <li>
        <%= link_to_function image_tag("disk-black.png",:alt => "保存#{resource_class.model_name.human}"), "$('##{resource_class.model_name.underscore}_form').trigger('submit')",:title => "保存#{resource_class.model_name.human}",:class => "tipsy"  %>
      </li>
      <%if can? :destroy,resource_class%>
        <li>
          <%= link_to image_tag("cross.png",:alt => "删除该记录"), polymorphic_url(resource,:routing_type => :path),:method => :delete,:class =>"tipsy",:title => "删除该记录",:confirm => "你确定要删除吗?" %>
        </li>
      <%end%>
    <%end%>
    <%if params[:action] == "show"%>
      <%if can? :update,resource%>
        <li>
          <%= link_to image_tag("application--pencil.png",:alt => "修改当前记录"),  edit_resource_path(resource),:title => "修改当前记录",:class => "tipsy" %>
        </li>
      <%end%>
      <%if can? :destroy,resource%>
        <li>
          <%= link_to image_tag("cross.png",:alt => "删除该记录"), resource,:method => :delete,:class =>"tipsy",:title => "删除该记录",:confirm => "你确定要删除吗?" %>
        </li>
      <%end%>
    <%end%>
    <%= render "extra_toolbar" %>
  </ul>
</div>   
