<table id="<%= resource_class.name.underscore.pluralize %>_index_table" class="table">
  <thead>
    <tr>
      <% index_table_columns.each do |column| %>
        <th><%= t(column,:scope => "activerecord.attributes.#{resource_class.name.underscore}")%></th>
      <% end %>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |resource| %>
      <tr class="<%= cycle 'odd', 'even' %>",title="双击显示详细信息" class='tipsy' <%=can?(:read,resource_class) ? "data-dblclick='true'" : "" %>>
        <% index_table_columns.each do |column| %>
          <td><%= resource.send(column.to_sym) %></td>
        <% end %>
        <td>
          <%= link_to "查看", resource_url(resource),:class => "show_link",:style => 'display : none;'%>
          <%= link_to("修改", edit_resource_path(resource)) if can? :edit,resource_class %> | 
          <%= link_to("删除", resource_path(resource), :method => :delete, :confirm => "您确定要删除该信息吗?") if can? :destroy,resource_class %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
