<table class='table'>
  <tr>
    <td>用户名:</td>
    <td><%=resource.username%></td>
    <td>有效:</td>
    <td><%=resource.is_active%></td>
    <td>管理员:</td>
    <td><%= resource.is_admin %></td>

  </tr>
  <tr>
    <td>默认机构:</td>
    <td><%=resource.default_org.try(:name)%></td>
    <td>默认角色:</td>
    <td><%=resource.default_role.try(:name)%></td>
    <td>角色列表:</td>
    <td><%=resource.roles.collect {|role| role.name}.join(",")%></td>
  </tr>
</table>
