<!--动态toolbar-->
<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first"><%= link_to image_tag("grid.png") , self.send("#{@param_name.tableize}_path"),:title => "#{@model_klazz.model_name.human}列表",:class => "vtip"  %></li>
    <li><%= link_to image_tag("application--plus.png"), self.send("new_#{@param_name}_path"),:title => "新建#{@model_klazz.model_name.human}",:class => "vtip"  %></li>
    <%if self.respond_to?("search_#{@param_name.tableize}_path")%>
      <li><%= link_to image_tag("application-search-result.png"),self.send("search_#{@param_name.tableize}_path"),:title => "查询#{@model_klazz.model_name.human}",:class => "vtip" %></li>
    <%end%>
    <% if params[:action] == "new" || params[:action] == "edit" || params[:action] == "create" || params[:action] == "update" %>
      <li><%= link_to_function image_tag("disk-black.png"), "document.forms[0].submit()",:title => "保存#{@model_klazz.model_name.human}",:class => "vtip"  %></li>
    <%end%>

    <% if params[:action] == "edit" || params[:action] == "show" || params[:action] == "update"%>
      <li><%= link_to image_tag("cross.png"), instance_variable_get("@#{@param_name}"),:method => :delete,:class =>"vtip",:title => "删除该记录",:confirm => "你确定要删除吗?" %></li>
    <%end%>

    <% if params[:action] == "show"%>
      <li><%= link_to image_tag("application--pencil.png"),  self.send("edit_#{@param_name}_path",instance_variable_get("@#{@param_name}")),:title => "修改当前记录",:class => "vtip" %></li>
      <%if self.respond_to?("print_#{@param_name}_path")%>
        <li><%= link_to image_tag("printer.png"),self.send("print_#{@param_name}_path",instance_variable_get("@#{@param_name}")),:title => "打印#{@model_klazz.model_name.human}",:class => "vtip" %></li>
      <%end%>
      <%if self.respond_to?("export_#{@param_name}_path")%>
        <li><%= link_to image_tag("blue-document-excel-csv.png"),self.send("export_#{@param_name}_path",instance_variable_get("@#{@param_name}")),:title => "导出#{@model_klazz.model_name.human}",:class => "vtip" %></li>
      <%end%>


    <%end%>
    <%if self.respond_to?("export_#{@param_name.tableize}_path")%>
      <li><%= link_to "导出",self.send("export_#{@param_name.tableize}_path"),:title => "导出#{@model_klazz.model_name.human}",:class => "vtip" %></li>
    <%end%>

  </ul>
</div>   
