<!--动态toolbar-->
<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first"><%= link_to image_tag("grid.png") , collection_path,:title => "#{resource_class.model_name.human}列表",:class => "tipsy"  %></li>
    <li><%= link_to image_tag("application--plus.png"), new_resource_path,:title => "新建#{resource_class.model_name.human}",:class => "tipsy"  %></li>
    <%if self.respond_to?("search_#{controller_name.tableize}_path")%>
      <li><%= link_to image_tag("application-search-result.png"),self.send("search_#{controller_name.tableize}_path"),:title => "查询#{resource_class.model_name.human}",:class => "fancybox tipsy" %></li>
    <%end%>
    <% if params[:action] == "new" || params[:action] == "edit" || params[:action] == "create" || params[:action] == "update" %>
      <li><%= link_to_function image_tag("disk-black.png"), "$(document.forms[0]).trigger('submit')",:title => "保存#{resource_class.model_name.human}",:class => "tipsy"  %></li>
    <%end%>

    <% if params[:action] == "edit" || params[:action] == "show" || params[:action] == "update"%>
      <li><%= link_to image_tag("cross.png"), resource,:method => :delete,:class =>"tipsy",:title => "删除该记录",:confirm => "你确定要删除吗?" %></li>
    <%end%>

    <% if params[:action] == "show"%>
      <li><%= link_to image_tag("application--pencil.png"),  edit_resource_path(resource),:title => "修改当前记录",:class => "tipsy" %></li>
      <%if self.respond_to?("print_#{controller_name.singularize}_path")%>
        <li><%= link_to image_tag("printer.png"),self.send("print_#{controller_name.singularize}_path",resource),:title => "打印#{@model_klazz.model_name.human}",:class => "tipsy" %></li>
      <%end%>
      <%if self.respond_to?("export_#{controller_name.singularize}_path")%>
        <li><%= link_to image_tag("blue-document-excel-csv.png"),self.send("export_#{controller_name.singularize}_path",resource),:title => "导出#{resource_class.model_name.human}",:class => "tipsy" %></li>
      <%end%>


    <%end%>
    <%if self.respond_to?("export_#{controller_name.tableize}_path")%>
      <li><%= link_to "导出",self.send("export_#{controller_name.tableize}_path"),:title => "导出#{resource_class.model_name.human}",:class => "tipsy" %></li>
    <%end%>

  </ul>
</div>   
