<%= render_partial_or_default 'form' %>
<div class="block">
  <%= render_partial_or_default "dynamic_toolbar" %>
  <div class="content">            
    <h2 class="title">修改<%=resource_name%></h2>
    <div class="inner">
      <%= render_partial_or_default "form" %>
    </div>
  </div>
  <%= render_partial_or_default "dynamic_toolbar" %>
</div>
