<div id="table_wrap"></div>
<table class='table' data-detailUrl='<%=carrying_bill_path(resource.carrying_bill)%>' data-params='{"hide_fields": ".carrying_fee,.insured_fee","show_fields": ".transit_carrying_fee,.transit_hand_fee,.carrying_fee_th,.th_amount"}'>
  <tbody>
    <tr>
      <td>中转部门:</td>
      <td><%=resource.org.name %></td>
      <td>提货日期:</td>
      <td><%=resource.bill_date.strftime('%Y-%m-%d')%></td>
      <td>中转手续费:</td>
      <td><%=resource.transit_hand_fee%></td>
      <td>运单号</td>
      <td><%=resource.carrying_bill%></td>
    </tr>
    <tr>
      <td>备注:</td>
      <td colspan="6"><%=resource.note%></td>
    </tr>
  </tbody>
</table>
