<table class='table'>
  <tr>
    <td>结算员:</td>
    <td></td>
    <td>结算单位:</td>
    <td><%= resource.org.name %></td>
    <td colspan="3">结算日期:</td>
    <td> <%=resource.bill_date.strftime('%Y-%m-%d')%></td>
  </tr>
  <tr>
    <td colspan="7" class='text-right'>实领金额:</td>
    <td><%=resource.amount_fee %></td>
  </tr>
  <tr>
    <td>原货款:</td>
    <td><%=resource.sum_goods_fee %></td>
    <td>货款扣运费:</td>
    <td><%=resource.sum_k_carrying_fee%></td>
    <td>扣手续费:</td>
    <td><%=resource.sum_k_hand_fee %></td>
    <td>实际提款:</td>
    <td><%=resource.sum_pay_fee %></td>
  </tr>
  <tr>
    <td colspan="7" class='text-right'>余额:</td>
    <td><%=resource.sum_rest_fee %></td>
  </tr>
  <tr>
    <td>备注</td>
    <td colspan='7'>
      <%=resource.note %>
    </td>
  </tr>
</table>
<div id="table_wrap"></div>
<script>
  //获取清单明细数据
  $.get('<%=post_info_carrying_bills_path(resource)%>',null,null,'script');
</script>
