<table class='table'>
  <tr>
    <td>返款日期:</td>
    <td> <%=resource.bill_date.strftime('%Y-%m-%d') %></td>
    <td>付款单位:</td>
    <td>
      <%=resource.from_org.name %>
    </td>

    <td>收款单位:</td>
    <td>
      <%=resource.to_org.name %>
    </td>
    <td>结算员:</td>
    <td>添加结算员信息</td>
  </tr>
  <tr>
    <td>返程货款:</td>
    <td><%=resource.sum_goods_fee %></td>
    <td>提货付运费:</td>
    <td><%=resource.sum_carrying_fee %></td>
    <td>合计:</td>
    <td colspan='3'><%=resource.sum_fee %></td>
  </tr>
  <tr>
    <td>备注</td>
    <td colspan='5'>
      <%=resource.note %>
    </td>
    <td>状态</td>
    <td><%= resource.human_state_name %></td>
  </tr>
</table>
<div id="table_wrap"></div>
<script>
  jQuery(function($) {$.get('<%=refound_carrying_bills_path(resource)%>',null,null,'script');});
  //获取清单明细数据
</script>
