<table class='table' data-detailUrl='<%=cash_payment_list_carrying_bills_path(resource)%>' data-params='{"hide_fields": ".carrying_fee,.insured_fee","show_fields": ".k_carrying_fee,.k_hand_fee,.act_pay_fee"}'>
  <tr>
    <td>清单日期:</td>
    <td><%=resource.bill_date.strftime('%Y-%m-%d')%></td>
    <td>组织机构:</td>
    <td><%=resource.org.name%></td>
    <td>操作员:</td>
    <td><%=resource.user.try(:username)%></td>
    <td>状态:</td>
    <td><%=resource.human_state_name%></td>
  </tr>
  <tr>
    <td>备注:</td>
    <td colspan='10'>
      <%= resource.note %>
    </td>
  </tr>
</table>
<div id="table_wrap"></div>
